.App {
  text-align: center;
  background-color: #2e2e2e;
  min-height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Custom CSS */

.centerFlex {
  min-height: 100vh;
  display: flex;
  direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  padding-top: 30px;
  color: white
}

.animationCard {
  background-color: #fcfcfc;
  width: 70vh;
  height: 70vh;
  border-radius: 20px;
}

/* .clockDot {
  width: 12px;
  height: 12px;
  background-color: #2e2e2e;
} */

.clockWrapper {
  /* background-color: #fcfcfc; */
  /* border-radius: 20px; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 12px;
  height: 100vh;
}

.clockDot {
    position: absolute;
    opacity: 0;
    width: 3px;
    height: 100px;
    margin-top: -12vh;
    transform-origin: 50% 50%;
    background: white;
    /* border-radius: 50%; */
    transform: scaleY(-20)
}